body {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    margin: 0;
    padding: 0;
}
#container {
    width: 70%;
    padding: 1rem;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}
#container h1 {
font-size: 20px;
}

#cabecera {
    background-color: blueviolet;
    box-shadow: 0px 2px 200px 0px black;
    color: white;
    font-weight: 100;
    margin: 0;
    padding: 0;
}